.body { /* the page-body class */
    background: #69D2E7;
    overflow: hidden;
}

.hide, .error {
    display: none;
}

.editmode {
    display: none;
}

.ed-banner, .ch-banner, .fb-banner {
    margin: 0;
    padding: 5px 0 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 30px;
    font-family: 'Reenie Beanie', serif;
    background: #DAE02F;
}

.ed-banner{
    padding: 3px 0 3px 0;
    font-size: 25px;
}
.ch-banner {
    height: 60px;
    background: #970610;
}

.fb-banner .contact {
    float: left;
}

.fb-banner .login {
    float: right;
}

.folio {
    margin: 20px 0 10px 0;
    padding: 10px 0;
    width: 100%;
    font-size: 30px;
    font-family: 'Droid Sans', serif;
    background: #EFFAB4;
}

.folio .domain {
    border: none;
    border-bottom: 2px #e0e0e0 dashed;
    font-size: 60px;
    font-family: 'Reenie Beanie', serif;
    color: #000000;
    background: #EFFAB4;
    height: 100px;
}

.settings {
    width: 300px;
    opacity: 0.7;
    padding: 10px;
    top: 100px;
    right: 100px;
    position: absolute;
    background: #000000;
    cursor: move;
}

.settings h3 a {
    color: #ffffff;
    font-size: 15px;
    font-family: 'IM Fell DW Pica', serif;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 3px 3px 3 #ffffff;
}

.settings h3 a:hover {
    opacity: 0.6;
    color: #000000;
    background: #ffffff;
}

input[type = text] {
    padding: 5px;
    width: 200px;
    border: 1px #e0e0e0 solid;
    color: #000000;
    background: #ffffff;
    font-size: 30px;
    font-family: 'Reenie Beanie', serif;
}

textarea {
    margin: 2px 0;
    padding: 5px;
    border: 1px #e0e0e0 solid;
}

.controls li {
    float: left;
    padding: 3px 5px 3px 0;
}

.controls a {
    color: #ffffff;
}

#colorpicker {
    display: none;
}

.clear{
  clear:both;
}

/*******prakhar.css*********/
body.prakhar {
  color: #e28f38;
  font-family: Arial;
  background: #ffffff url(/public/images/prakhar.png) no-repeat;
}
body.prakhar div.container {
  top: 50px;
  left: 50px;
  position: absolute;
}
body.prakhar div.cleft div.fld {
  padding: 5px 20px 0 10px;
  font-size: 10pt;
  float: right;
}
body.prakhar div.cleft div.name {
  font-size: 30pt;
  letter-spacing: 4px;
  padding: 10px 3px;
}
body.prakhar div.cleft {
  background: #ffffff url(/public/images/prakharline.png) no-repeat right;
  height: 210px;
  float: left;

}
body.prakhar div.cright {
  float:right;
  margin: 100px 0 0 10px;
}
/*******uttara.css*********/
body.uttara {
  background: #000000 url(/public/images/uttara.png) no-repeat;
  color: #E6E6E6;
  font-family: Georgia;
}
body.uttara div.container {
  top: 50px;
  left: 50px;
  width: 450px;
  padding: 30px 10px;
  position: absolute;
  background-color: #000000;
}
body.uttara div.fld {
  border-bottom: 2px dashed #ffffff;
  padding: 4px 0 3px 0;
  font-size: 16pt;
}
body.uttara div.name {
  background: #000000 url(/public/images/uttaraheader.png) no-repeat;
  font-size: 60pt;
  height: 120px;
}
body.uttara div.desig {
  font-size: 10pt;
  text-align: right;
}
body.uttara div.contact {
  margin-bottom: 40px;
}
body.uttara span.exp {
  float: right;
}
/*******gopi.css*********/
body.gopi { width: 500px; margin: 250px  auto; background-color: #ffffff; }
body.gopi div.name { font-family: 'Yanone Kaffeesatz', arial, serif; font-size: 60px; }
body.gopi a { text-decoration: none; color: #BCBDAC; }
body.gopi a:hover { text-decoration: overline; color: #2E2633; }
/*******rajat.css*********/
body.rajat {
}
