.body{ /* the page-body class */
    background: red;
}
.name{
    font: 60px arial;
}
.about{
    font: 60px arial;
    color: #ffffff;
}
.contact{
}
.email{
}
.fb-banner{
  padding: 5px 0;
  margin: 10px 0;
  background: #0000FF;
}

