<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <title></title>
</head>

<body>
<div style="margin: 0pt; padding: 30px; background-color: rgb(245, 250, 252); color: rgb(65, 73, 77); font-size: 12px; font-family: Arial,sans-serif;" id="hc">
<center>
<p style="font-size:10px; margin: 0pt 0pt 8px; padding: 0pt; line-height: 140%; color: rgb(101, 159, 189);">Keep this email out of your spam filter. Add <span style="color: rgb(0, 86, 179)">noreply@howcast.com</span> to your safe sender list or address book.</p>  
<table width="600" cellspacing="0" cellpadding="0" style="margin: 0pt; padding: 0pt; border-spacing: 0pt; font-size: 12px; font-family: Arial,sans-serif; color: rgb(65, 73, 77);">
  <thead>
    <tr style="margin: 0pt; padding: 0pt; vertical-align: top;">
      <td width="100%" style="margin: 0pt; padding: 0pt; vertical-align: top;"><div><img style="margin: 0pt; padding: 0pt; display: block;" alt="Howcast" src="http://www.howcast.com/images/email/header-htotd2.png" class="block"/></div></td>
    </tr>
  </thead>
  
  <tbody style="border-width: 0pt; margin: 0pt; padding: 0pt; background-color: rgb(255, 255, 255);">
    <tr style="margin: 0pt; padding: 0pt; vertical-align: top;">
      <td style="border-left: 1px solid rgb(178, 211, 229); border-right: 1px solid rgb(178, 211, 229); margin: 0pt; padding: 34px 34px 8px; vertical-align: top; width: 530px;" class="content"><div style="width: 530px;" class="inner">
        <h3 style="margin: 0pt 0pt 18px; line-height: 1em; font-size: 12px; font-weight: normal;">Hello <a style="text-decoration: none; color: rgb(0, 86, 179); font-weight: bold;" href="http://www.howcast.com/users/phoenix24">phoenix24</a>,</h3>
        <p style="margin: 0pt 0pt 16px; padding: 0pt; line-height: 140%;">An oxymoronic delight.</p>
<table style="border-top: 1px dotted rgb(101, 159, 189); margin: 0pt; padding: 0pt; border-spacing: 0pt; font-size: 12px; font-family: Arial,sans-serif; color: rgb(65, 73, 77);" class="video">
  <tbody><tr valign="top" style="margin: 0pt; padding: 0pt; vertical-align: top;">
    <td style="margin: 0pt; padding: 17px 11px 17px 0pt; vertical-align: top;" class="thumb">
      <a href="http://www.howcast.com/videos/95432-How-To-Make-Iced-Hot-Chocolate?ref=htd" style="border: 1px solid rgb(135, 182, 206); padding: 5px; text-decoration: none; color: rgb(0, 86, 179); display: block;"><img alt="How To Make Iced Hot Chocolate" src="http://img.howcast.com/thumbnails/95432/Picture_15_xlarge.png" style="border-width: 0pt; padding: 0pt; display: block;" /></a>
    </td>
    <td width="100%" style="margin: 0pt; padding: 17px 0pt; vertical-align: top;" class="body">
      <h4 style="margin: 0pt 0pt 8px; line-height: 1em; font-size: 12px;" class="title">
        <a href="http://www.howcast.com/videos/95432-How-To-Make-Iced-Hot-Chocolate?ref=htd" style="text-decoration: none; color: rgb(0, 86, 179);">Click to Watch: </a><br />
      </h4>
      <h4 style="margin: 0pt 0pt 8px; line-height: 1em; font-size: 12px;" class="title">
        <a href="http://www.howcast.com/videos/95432-How-To-Make-Iced-Hot-Chocolate?ref=htd" style="text-decoration: none; color: rgb(0, 86, 179);">How To Make Iced Hot Chocolate</a>
      </h4>
      <div style="font-size: 11px; color: rgb(115, 122, 126); margin-bottom: 8px;" class="details">added December 17, 2008 in <a href="http://www.howcast.com/categories/357-General-Beverages" style="text-decoration: none; color: rgb(0, 86, 179);" title="How-To videos in the General Beverages category">General Beverages</a></div>
      <p style="margin: 0pt 0pt 10px; padding: 0pt; line-height: 140%; color: rgb(115, 122, 126);">Enjoy hot chocolate during the stifling summer months by putting it on ice. </p>
    </td>
  </tr>
</tbody></table>

        
        <p style="border-top: 1px dotted rgb(101, 159, 189); margin: 0pt; padding: 34px 0pt 0pt 34px; line-height: 140%;" class="outro">
          Thanks,<br/>
          <em style="margin: 15px 0pt 0pt; display: block;">The Howcast Team</em>
        </p>
        
        
        <p style="font-size:10px; margin: 0pt; padding: 34px 0pt 0pt 0pt; line-height: 100%; color: rgb(65, 73, 77);">You have received this email because you've subscribed to the How-To of the Day Video. <a href="http://www.howcast.com/unsubscribe/htotd/gopi.daiict@gmail.com">Click here to unsubscribe</a>.</p>
        
        
        
      </div></td>
    </tr>
    <tr style="margin: 0pt; padding: 0pt; vertical-align: top; background-color: rgb(245, 250, 252);" class="footer">
      <td style="margin: 0pt; padding: 0pt 0pt 17px; vertical-align: top;" class="img"><div><img style="margin: 0pt; padding: 0pt; display: block;" alt="" src="http://www.howcast.com/images/email/footer.png" class="block"/></div></td>
    </tr>
    <tr align="center" style="margin: 0pt; padding: 0pt; vertical-align: top; background-color: rgb(245, 250, 252);" class="footer">
      <td style="margin: 0pt; padding: 0pt; vertical-align: top;" class="linkz">
        <div style="margin-bottom: 8px;" class="link"><small style="font-size: 11px; color: rgb(159, 195, 214);">
          <a style="text-decoration: none; color: rgb(0, 86, 179);" href="http://www.twitter.com/howcast">Follow Us on Twitter</a> |  
          <a style="text-decoration: none; color: rgb(0, 86, 179);" href="http://www.facebook.com/howcast">Become a Fan on Facebook</a> |
          <a style="text-decoration: none; color: rgb(0, 86, 179);" href="http://blog.howcast.com">Check Out Our Blog</a> |
          <a style="text-decoration: none; color: rgb(85, 159, 86);" href="http://www.howcast.com/my_account/notifications" class="settings">Notification settings</a>
        </small></div>
        <div class="copy"><small style="font-size: 11px; color: rgb(178, 211, 229);" class="copy">&copy; Howcast Media, Inc.</small></div>
      </td>
    </tr>
  </tbody>
  
</table>
</center>
</div>
</body>
</html>