#{extends 'main.html' /}
#{set bodycss: 'www' /}
#{set title: 'itsabt.me' /}

<div class="container">
  #{form @Application.invite(), id:'invite'}
    <input type="text" name="email" value="typein your email.">
    <input type="submit" value="invite me!">
  #{/form}
  <div class="thank hide">Thanks, we'll get back.</div>
</div>
<script type="text/javascript">
$(function(){
  $("form#invite").submit(function(){
    $.post('@{Application.invite()}', $("form#invite").serialize(), function(data){
      $('form#invite').slideUp().hide();
      $(".thank").fadeIn('900');
    }, 'json');
    return false;
  });
});
</script>
