#{extends 'main.html' /}
#{set title: user.name /}

<div class="name">${user.name}</div>
<div class="resume">${user.email}</div>
<div class="aboutme">${user.aboutme}</div>
<div class="contact">${user.contact}</div>
<div class="designs">${user.email}</div>

<div class="settings">
#{if uid && user && uid == user.fbuid }
  <h3><a href="#">folio-new-palettes</a></h3>
  <div class="foliostyle-palettes">
    <ul>
      <li></li>
    </ul>
  </div>
  <h3><a href="#">folio-style</a></h3>
  <div class="foliostyle-form">
    #{form @Application.addStyle(), id:'foliostyle'}
    <input type="text" name="value" id="value" value="${params.value}"/>
    <input type="text" name="element" id="element" value="${params.element}"/>
    <input type="text" name="elementValue" id="elementValue" value="${params.elementValue}"/>
    <input type="submit" value="submit" id='submit'/>
    #{/form}
  </div>
  <h3><a href="#">folio-palettes</a></h3>
  <div class="foliostyle-palettes">
  </div>
  <h3><a href="#">folio-info</a></h3>
  <div class="folioinfo-form">
    #{form @Application.addinfo(), id:'folioinfo'}
    <input type="text" name="email" value="${user.email}"/>
    <input type="text" name="contact" value="${user.contact}"/>
    <textarea name="aboutme">${user.aboutme}</textarea>
    <input type="submit" value="submit" id='submit'/>
    #{/form}
  </div>
#{/if}
</div>

<form>
  <input type="text" id="color" name="color" value="#123456" />
</form>
<div id="colorpicker"></div>

<script type="text/javascript">
  $(function() {
    $("#foliostyle").submit(function(){
      $.post('@{Application.addStyle()}', $("#foliostyle").serialize(), function(style){
        $(":input", "#foliostyle").not(":submit").not("#field:text").val("");
        $("style").text(style.value);
//        window.location.reload();
      }, 'json');
      return false;
    });
    $("#folioinfo").submit(function(){
      $.post('@{Application.addinfo()}', $("#folioinfo").serialize(), function(style){
//        $(":input", "#folioinfo").not(":submit").not("#field:text").val("");
//        $("style").text(style.value);
        window.location.reload();
      }, 'json');
      return false;
    });
    $("div.settings").accordion();
    $("div.settings").draggable();
    $('#colorpicker').farbtastic('#color');
    $("div.name,div.aboutme,div.contact,div.resume,div.designs,div.resume").click(function(el){
      alert("clicked " + $(this).attr("class"));
    });
  });
</script>
