#{extends 'main.html' /}
#{set title: user.name /}
<div class="folio-container">
  <div class="name">${user.name}</div>
  <div class="email">${user.email}</div>
  <div class="aboutme">${user.aboutme}</div>
  <div class="contact">${user.contact}</div>
</div>

#{if uid && user && uid == user.fbuid }
<div class="settings">
  <h3><a href="#">my folio</a></h3>
  <div class="my-folio">
    #{form @Application.addinfo(), id:'folioinfo', class:'name'}
    <div id="folioinfo-form">
      <input class="name" type="text" name="name" value="${user.name}"/>
      <input class="email" type="text" name="email" value="${user.email}"/>
      <input class="contact" type="text" name="contact" value="${user.contact}"/>
      <textarea class="aboutme" name="aboutme">${user.aboutme}</textarea>
    </div>
    #{/form}
    <div class="style-controls">
      <ul>
        <li><a class="ffamily" field="font-family" href="#">ffamily</a></li>
        <li><a class="fsize" field="font-size" href="#">fsize</a></li>
        <li><a class="fcolor" field="color" href="#">fcolor</a></li>
        <li><a class="fbg" field="background" href="#">fbg</a></li>
      </ul>
    </div>
    #{form @Application.addStyle(), id:'foliostyle'}
    <div id="foliostyle-form">
    <input type="hidden" name="cname" id="cname" value="${params.cname}"/>
    <input type="hidden" name="cfield" id="cfield" value="${params.cfield}"/>
    <input type="text" name="cvalue" id="cvalue" value="${params.cvalue}"/>
    <input type="submit" value="apply"/>
    <div id="colorpicker"></div>
    </div>
    #{/form}
  </div>
  <h3><a href="#">folio-palettes</a></h3>
  <div class="folio-palettes"></div>
</div>

<div class="fb-banner editmode"><span>changed saved successfuly.</span></div>

<script type="text/javascript">
  $(function() {
    $("form#foliostyle").submit(function(){
      $.post('@{Application.addStyle()}', $("form#foliostyle").serialize(), function(user){
        $("style").text(user.style);
        $(".editmode").fadeIn(3000).delay(1000).fadeOut(3000);
      }, 'json');
      return false;
    });
    $("form#folioinfo").submit(function(){
      $.post('@{Application.addinfo()}', $("#folioinfo").serialize(), function(style){
        $(".editmode").fadeIn(2000).delay(1000).fadeOut(2000);
      }, 'json');
      return false;
    });
    $("form#foliostyle input").live('change', function(el){
      $("div.folio-container div."+$("form#foliostyle #cname").val()).css($("form#foliostyle #cfield").val(), $("form#foliostyle #cvalue").val());
      $("form#foliostyle").submit();
    });
    $("form#folioinfo input,form#folioinfo textarea").live('keydown', function(el){
      $("div.folio-container div."+$(this).attr("class")).text($(this).val());
      $("form#folioinfo").submit();
    });
    $("div.name,div.email,div.aboutme,div.contact").click(function(el){
      $("form#folioinfo div").removeClass().addClass($(this).attr("class"));
      $("form#foliostyle #cname").val($(this).attr("class"));
      $("form#foliostyle #cfield").val("font-size");
      $("form#foliostyle #cvalue").val($(this).css("font-size"));
    });
    $("div.style-controls li a").live('click', function(el){
      if($(this).attr("field") == "color" || $(this).attr("field") == "background" ){
        $("div#colorpicker").show();
      } else {
        $("div#colorpicker").hide();
      }
      $("form#foliostyle #cfield").val($(this).attr("field"));
      $("form#foliostyle #cname").val($("div.folio-container ." +$("form#foliostyle #cname").val()).css($(this).attr("field")));
    });
    $("div.settings").accordion();
    $("div.settings").draggable({ containment: 'window' });
//    $("#colorpicker").farbtastic('#cname');
  });
</script>
#{/if}
