#{extends 'main.html' /}
#{set bodycss: 'prakhar' /}
#{set title: 'prakhar kant jain' /}

<div class="container">
  <div class="cleft">
    <div class="flh name">prakhar kant jain</div>
    <div class="fld design">profile</div>
    <div class="fld aboutme">portfolio</div>
    <div class="fld contact">contact</div>
    <div class="clear"></div>
  </div>
  <div class="cright">
    <div class="fld line1">Art Director</div>
    <div class="fld line2">The Hive</div>
    <div class="fld line3">2year work exp.</div>
    <div class="fld line4">previously with Grey Worldwide</div>
    <div class="fld line5">and interned with Mccann Ericsson</div>
  </div>
</div>