#{extends 'main.html' /}
#{set bodycss: 'prakhar' /}
#{set title: 'prakhar kant jain' /}

<div class="container">
  <div class="cleft">
    <div class="flh name">prakhar kant jain</div>
    <a href="#" class="fld portfolio">portfolio</a>
    <a href="#" class="fld contact">contact</a>
    <a href="#" class="fld profile">profile</a>
    <div class="clear"></div>
  </div>
  <div class="cright profile">
    <div class="fld line1">Art Director</div>
    <div class="fld line2">The Hive</div>
    <div class="fld line3">2 Year work exp.</div>
    <div class="fld line4">previously with Grey Worldwide</div>
    <div class="fld line5">and interned with Mccann Ericsson</div>
  </div>
  <div class="cright contact hide">
    <div class="fld line1">E-135, Kalkaji</div>
    <div class="fld line2">New Delhi - 110019</div>
    <div class="fld line3">prakharkjain@gmail.com</div>
    <div class="fld line4">+91-11-26435350</div>
    <div class="fld line5">+91-98-10653512</div>
  </div>
  <div class="cright portfolio hide">
    <div class="fld line1">will add soon!</div>
  </div>
</div>

<script type="text/javascript">
  $("body.prakhar a.profile").live('click', function(){
    $("body.prakhar div.contact").fadeOut(600, function(){
      $("body.prakhar div.profile").fadeIn(1500);
    });
  });
  $("body.prakhar a.contact").live('click', function(){
    $("body.prakhar div.profile").fadeOut(600, function(){
      $("body.prakhar div.contact").fadeIn(1500);
    });
  });
</script>