
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
    <head>
        <title>chaitanya</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans|Reenie+Beanie|IM+Fell+DW+Pica|Yanone+Kaffeesatz|">
        <link href="/public/stylesheets/reset.css" rel="stylesheet" type="text/css" charset="utf-8" ></link>
        <link href="/public/stylesheets/text.css" rel="stylesheet" type="text/css" charset="utf-8" ></link>
        <link href="/public/stylesheets/960_24_col.css" rel="stylesheet" type="text/css" charset="utf-8" ></link>
        <link href="/public/stylesheets/farbtastic.css" rel="stylesheet" type="text/css" charset="utf-8" ></link>
        <link href="/public/stylesheets/my.css" rel="stylesheet" type="text/css" charset="utf-8" ></link>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js"></script>
    </head>
    <body class="container_24">
        <div class="grid_24 header">
            <div class="fld name">chaitanya sharma</div>
            <div class="fld contact">
                <a class="email" href="mailto:chaitanya@3bandar.org">chaitanya@3bandar.org</a>
                <a class="web" href="chaitanya.3bandar.org">chaitanya.3bandar.org</a>
                <a class="phone" href="#">+91-9901130790</a>
            </div>
        </div>
        <div class="clear"></div>

        <div class="box objective">
            <span>To write great code, work with great teams. Make all things web.</span>
        </div>
        <div class="box interests">
            <ul>
                <li class="title">Interests</li>
                <li>Web-Apps</li>
                <li>Scalability</li>
                <li>Design and Architecture</li>
                <li>Data Structures</li>
                <li>Algorithms</li>
                <li>Languages</li>
            </ul>
        </div>
        <div class="box employers">
            <ul>
                <li class="title">Internships</li>
                <li>Rural Intern, Center for Social and Rural Development. Sholapur, Maharashtra. '05.</li>
                <li>Student Intern, Google Summer Of Code '06.</li>
                <li>Student Intern, Research Internship - DAIICT Gandhi Nagar '07.</li>
                <li>Student Intern, Google Summer Of Code '08.</li>
                <li>Student Intern, Kuliza Technologies Pvt Ltd '08.</li>
            </ul>
            <ul>
                <li class="title">Employers</li>
                <li>Kuliza Technologies Pvt Ltd.</li>
            </ul>
        </div>
        <div class="box education">
            <ul>
                <li class="title">Education</li>
                <li>
                    <span class="course">B.Tech, (ICT).</span>
                    <span class="school">DAIICT, Gandhinagar Gujarat.</span>
                    <span class"year">2008</span>
                </li>
                <li>
                    <span class="course">C.B.S.E, (12th)</span>
                    <span class="school">Central Academy Higher Sec. School, Kota.</span>
                    <span class"year">2003</span>
                </li>
                <li>
                    <span class="course">I.C.S.E, (10th).</span>
                    <span class="school">Queen Of Angels Convent School, Bharuch.</span>
                    <span class"year">2001</span>
                </li>
            </ul>
        </div>
        <div class="box leadership">
            <ul>
                <li class="title">Leadership Roles</li>
                <li>Chief CoOrdinator, DAIICT Linux Users Group '07 - '08</li>
                <li>CoOrdinator, Marketing &amp; Sponsorship, Team Synapse '05 &amp; '06</li>
                <li>Project Lead, the Software Engineering project.</li>
                <li>Editor, Monthly School Magazine.</li>
            </ul>
        </div>
        <div class="box projects">
            <ul>
                <li class="title">Projects</li>
                <li>
                    <span class="name">Icrack.it, educational service.</span>
                    <span class="description">A multi-tennant web application, designed to auto-scale upon high incoming user traffic. Frontend is deployed on GAE, with backend on AWS with MySQL as the persistence layer. Non Persistent caching enabled by memcache, internal queuing and messaging by AMQP, and tailored 'trickle' protocol between back and front ends.</span>
                </li>
                <li>
                    <span class="name">Bizkul.com, E-Learning portal.</span>
                    <span class="description">As a tech lead, setup the dev. environment, release procedures, planned features, multiple releases.</span>
                </li>
                <li>
                    <span class="name">Iphone pdf/ 3d model viewer + Presentation Remote</span>
                    <span class="description">An early iphone prototype hacked over a weeks time, checking feasibility and sales potential. Presentation Remote was a prototype to prove remote application controller for presentation tools.</span>
                </li>
                <li>
                    <span class="name">Ford Dealer Sites</span>
                    <span class="description">A massive CMS which was designed for over 5000 Ford Car Dealers. Primarily worked to implementing serverside functionalities in Java (Spring/Hibernate/Ecache). And worked on fronted features using HTML/CSS/JS/AJAX.</span>
                </li>
                <li>
                    <span class="name">Cartoon Rendering!</span>
                    <span class="description">A distributed system for automated cartoon rendering styles. (btech project, part of course work.)</span>
                </li>
                <li>
                    <span class="name">MediaPlayer Portable</span>
                    <span class="description">A standard media player designed extensively on the lines on XMMS2, usingJava2SDK. Part of the course work, where I lead the application design decision for my team of 10.</span>
                </li>
                <li>
                    <span class="name">Image Viewer</span>
                    <span class="description">built using the GTK+ and using LibPNG/ LibGIF, for reading and displaying basic (PNG/ GIF) image formats. (part of course work).</span>
                </li>
                <li>
                    <span class="name">Gtk Crossword</span>
                    <span class="description">GTK+ based crossword program, with a team of two. Part of the course work, where we implemented algorithms to generate new crosswords on each run.</span>
                </li>
            </ul>
        </div>
    </body>
</html>
