#{extends 'main.html' /}
#{set bodycss: 'uttara' /}
#{set title: 'uttara rao' /}

<div class="container">
  <div class="flh name"></div>
  <div class="fld desig"><span>Copywriter, the<b>hive</b></span></div>
  
  <div class="infobx">
    
  <h3 class="fld email"><span>About</span><span class="exp">+</span></h3>
  <div class="fld email">this is me.. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate </div>

  <h3 class="fld aboutme"><span>Portfolio</span><span class="exp">+</span></h3>
  <div class="fld aboutme">this is my folio.. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate</div>
  
  <h3 class="fld contact"><span>Contact</span><span class="exp">+</span></h3>
  <div class="fld contact">this is how to reach me.. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate</div>
  
  </div>
  
</div>
<script type="text/javascript">
  $("div.infobx").accordion({ collapsible: true, active: false, clearStyle: true });
</script>