<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>paged me!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    #{press.stylesheet 'reset.css' /}
    #{press.stylesheet 'text.css' /}
    #{press.stylesheet '960_24_col.css' /}
    #{press.stylesheet 'main.css' /}
    #{press.compressed-stylesheet /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
  </head>
  <body class="container_24 body">
    <div class="name">Amigo!</div>
    <div class="about">this looks like a nice portfolio destination :D</div>
    
    #{if request.user }
      #{form @Application.addStyle(), id:'form1'}
        #{ifErrors}
        <p class="error">all fields are required.</p>
        #{/ifErrors}
        <p>
          <input type="text" name="field" id="field" value="${params.field}"/>
          <input name="value" id="value" value="${params.value}">
          <input name="element" id="element" value="${params.element}">
          <input name="elementValue" id="elementValue" value="${params.elementValue}">
        </p>
        <p>
          <input type="submit" value="submit" id='submit' />
        </p>
      #{/form}
    #{/if}
    
    <div class="fb-banner">
      <div class="contact">go ahead, etch one for yourself</div>
      <div class="email">help@paged.me</div>
      <div><fb:login-button></fb:login-button></div>
    </div>
    
    <div id="fb-root"></div>
    <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    #{press.script 'main.js' /}
    #{press.compressed-script /}
    <script>
      FB.init({appId: '121671684547934', status: true, cookie: true, xfbml: true});
      FB.Event.subscribe('auth.sessionChange', function(response) {
        if (response.session) {
          // A user has logged in, and a new cookie has been saved
        } else {
          // The user has logged out, and the cookie has been cleared
        }
      });
    </script>
  </body>
</html>
