#{extends 'main.html' /}
#{set title: 'paged.me!' /}
#{set bodycss: 'container_24' /}

<div class="name">Amigo!</div>
<div class="about">this looks like a nice portfolio destination :D</div>
<div class="folio">
  <ul>
  #{if uid}
  <li class="folio-form #{if user }hide#{/if}">
  #{form @Application.addfolio(), id:'createfolio'}
    <p class="error">all fields are required.</p>
    <p>
      <input type="text" id="fbuid" name="fbuid" value="${uid}"/>
      <input type="text" id="folioname" name="folioname" value="${params.folioname}"/>
      <input type="submit"/>
    </p>
  #{/form}
  </li>
  <li class="folio-name #{if !user }hide#{/if}">
    #{if user }
    <a href="http://${user.folioname}.tst.it">${user.folioname}.tst.it</a><span>, ah! your folio!</span>
    #{/if}
  </li>
  #{/if}
  </ul>
</div>
<div class="fb-banner">
  <div class="contact"><a href="https://graph.facebook.com/oauth/authorize?client_id=121671684547934&redirect_uri=http://tst.it/&type=user_agent&display=page&scope=user_photos,user_videos,publish_stream,email,user_about_me,user_birthday">go ahead, etch one for yourself</a></div>
#{if !uid }
  <div class="login"><fb:login-button perms="email,user_birthday"></fb:login-button></div>
#{/if}
</div>

<script type="text/javascript">
$(function(){
  $("#createfolio").submit(function(){
    $.post('@{addfolio()}', $("#createfolio").serialize(), function(folio){
      $("ul li.folio-name").append('<a href="http://' + folio.folioname + '.tst.it">' + folio.folioname + '.tst.it</a><span>, ah! your folio!</span>');
      $("li.folio-form").hide("slow");
      $("li.folio-name").show("slow");
    }, 'json');
    return false;
  });
});
</script>
